<!DOCTYPE html>

<html>

    <head>
        <link rel="icon"href="/img/cloud.png">
        <link rel="stylesheet"href="./css/style.css">



            <body>
                <div class="main-content">
                     {{>header}}
                    <p>{{error}}</p>
                </div>
               
                {{>footer}}
            </body>
    </head>

</html>