<!doctype html>
<html>
    
    <head>
        <title>Help</title>
        <link rel="icon"href="/img/cloud.png">
        <link rel="stylesheet"href="./css/style.css">
        <body>
            <div class="main-content">
                 {{>header}}
            
             <p>{{helpText}}</p>
             <p1>"Details regarding weather page"</p1>
            </div>
           

             {{>footer}}
        </body>
    </head>
</html>